<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitenight.gate.model.dao.UserMapper">
  <select id="queryAll" resultType="com.whitenight.gate.entity.User">
    SELECT
      *
    FROM
      user
  </select>

  <select id="findByUserName" parameterType="string" resultType="com.whitenight.gate.entity.User">
    SELECT
      *
    FROM
      user
    where
      is_deleted = 0
      and user_name = #{username}
  </select>

  <insert id="addUser" parameterType="com.whitenight.gate.entity.User">
    INSERT INTO
           user
           (
             user_name,
             password,
             user_sex,
             nick_name,
             is_deleted,
             create_by,
             create_date,
             update_by,
             update_date
           )
       VALUES
           (
             #{userName},
             #{password},
             #{userSex},
             #{nickName},
             0,
             #{createBy}
             now()
           )
  </insert>

  <update id="update" parameterType="com.whitenight.gate.entity.User" >
    UPDATE
    user
    SET
    <if test="userName != null">userName = #{userName},</if>
    <if test="passWord != null">passWord = #{passWord},</if>
    nick_name = #{nickName}
    WHERE
    id = #{id}
  </update>

  <delete id="delete" parameterType="Long" >
   DELETE FROM
            user
   WHERE
            id =#{id}
</delete>
</mapper>